.hidden {
  display: none;
}

.shown {
  display: block;
}

.showninline {
  display: inline;
}

body {
    background: #fff;
    height: auto;
    margin: 0;
    padding: 0;
    color: #333;
    font: 13px "Droid Sans", Helvetica, sans-serif ;
}

#center {
    margin: 0 auto;
    width: 280px;
    height: auto;
}

#app{
    float: left;
    clear: both;
    width: 260px;
    height: 380px;
    margin: 50px 0;
    padding: 10px;
    background: #d8ad02 url(bg.png) repeat-x 0 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#credits{
    float: left;
    clear: both;
    width: 260px;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 11px;
}

#logo{
    float: left;
    clear: left;
    width: 184px;
    height: 27px;
    margin: 0;
    background: url(logo.png) no-repeat 40px 5px;
}

#logo a {
    float:left;
    width:184px;
    height:35px;
    display:block;
}

.cur_location {
    float: left;
    clear: both;
    width: auto;
    height: auto;
    margin: 0 0 5px 40px;
    padding: 0;
    font-size: 12px;
}

.cur_location select {
    width: 100%;
}

#content {
    float: left;
    clear: both;
    margin: 10px 0 3px 0;
    width: 260px;
    height: 310px;
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

ul.options {
    float: left;
    clear: both;
    width: 240px;
    height: auto;
    list-style: none;
    margin: 35px 0;
    padding: 0;
}

ul.options li {
    float:left;
    clear:both;
    width:260px;
    display:block;
    margin:20px 0 0 0;
    font-size:25px;
    height:80px;
}

a {
    color:#333;
    text-decoration:none;
}

ul.options li:hover{ background-color:#eee;}

ul.options li:last-child{ margin-bottom:0;}

ul.options li a{ float:left; clear:both; display:block; width:175px; height:80%; padding:25px 0 0 85px;}

.traffic{ background:url(traffic.png) no-repeat 20px 15px;  }
.parking{ background:url(car.png) no-repeat 20px 15px;}

select{ font-size:11px;}


h1.traffic{ float:left; clear:left; width:100%; font-size:24px; color:#aaa; padding:5px 0 0 45px; background:url(traffic_small.png) no-repeat 0 0; height:35px; margin:7px 0 0 10px;}
h1.parking{ float:left; clear:left; width:100%; font-size:24px; color:#aaa; padding:5px 0 0 45px; background:url(car_small.png) no-repeat 0 0; height:35px; margin:7px 0 0 10px;}


a img{ border:0;}
a.full{ display:block; width:260px; height:100%;}


ul.inner_page{
float:left;
clear:both;
width:260px;
height:180px;
list-style:none;
margin:0 0 5px 0;
padding:0;
overflow:hidden;
}

ul.inner_page li{
float:left;
clear:both;
width:240px;
display:block;
margin:0;
padding:5px 10px 5px 10px;
font-size:12px;
}

ul.inner_page li:hover{ background:#eee;}

ul.inner_page li img{
float:left;
clear:left;
margin:0 10px 0 0;
width:50px;
height:50px;
background:#f8f8f8;
}

ul.inner_page li p{
float:left;
clear:right;
width:auto;
font-size:15px;
}

#see_more{
float:left;
clear:both;
margin:0;
width:260px;
padding:0;
background-color: #ccc;   background-image: -moz-linear-gradient(100% 100% 90deg, #ccc, #eee) !important; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#eee)) !important;
font-size:12px;
text-align:center;
border:none;
}

#see_more:hover{
background-color: #eee;   background-image: -moz-linear-gradient(100% 100% 90deg, #eee, #ccc) !important; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc)) !important;
}

#see_more a{ text-decoration:none; width:260px; height:100%; display:block; padding:5px 0 5px 0;}

.slots{
float:left;
clear:left;
width:auto;
margin:0 10px 0 0;
font-size:30px;
color:#000;
font-weight:bold;
}

p.parking_desc{ margin:0; padding:0; color:#999;}

em{font-size:13px;}

.live_feed {
   position: relative;
   margin:0 5px 10px 5px;
   width: 100%; /* for IE 6 */
}

h2 {
   position: absolute;
   top: 75%;
   left: 0;
   width: auto;
   background:#000;
   color:#fff;
   padding:5px;
   font-size:14px;
   font-family:"Droid Sans";
}